body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
}

noscript{
    font-size: 20px;
    text-align: center;
    color: #ff4e4e;
    margin-top: 30%;
    font-weight: bold;
    background-color: black;
    padding: 30px;
}

main{
    min-height: calc( 100vh - 119px );
    overflow: hidden;
    width: 920px;
    margin: 0 auto;
}

main > div{
    width: inherit;
}

.bg-white{
    color: black;
    background-color: white;
}

.red{
    color: red;
}

.green{
    color: green
}

.flex-container{
    display: flex !important;
}

.flex-sa{
    justify-content: space-around;
}

.flex-sb{
    justify-content: space-between;
}

.flex-ai-sa{
    align-items: space-around;
}

.flex-fd-col{
    flex-direction: column;
}

.flex-jc-center{
    justify-content: center;
}

.flex-ai-center{
    align-items: center;
}

footer > .panel{
    background-color: rgb(19, 19, 19);
    margin-bottom: 0;
    padding: 20px 41px;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 0px;
}

.navbar{
    margin-bottom: 0px !important;
}

/* ANGULAR ANIMATION */
main.ng-enter{
    transition: 0.5s ease-in-out all;
    opacity: 0;
}

main.ng-enter.ng-enter-active{
    opacity: 1;
}
/* 
main.ng-leave{
    transition: 0.5s ease-in-out all;
    transform: translateX(0%);
    opacity: 1;
}

main.ng-leave.ng-leave-active{
    transform: translateX(-100%);
    opacity: 0;
} */

.list li.ng-enter{
    transition: 1s ease-in-out all;
    opacity: 0;
    transform: translateX(40px);
}

.list li.ng-enter.ng-enter-active{
    opacity: 1;
    transform: translateX(0px);
}

.list li.ng-leave{
    transition: 0.3s ease-in-out all;
    opacity: 1;
    transform: translateX(0px);
}

.list li.ng-leave.ng-leave-active{
    opacity: 0;
    transform: translateX(50px);
}

.list li.ng-leave-stagger{
    transition-delay: 0.2s;
    transition-duration: 0;
}