<div class="well well-lg">
    <h1>Home Page</h1>
    <p class="text-success">
            Lorem ipsum dolor sit amet, in nibh expetendis nam. Vel iisque electram ex, eos at ubique ponderum incorrupte, 
            assum vitae nec ad. Mei cu prima iusto intellegebat. Quidam vivendo liberavisse no has, no eam aeterno partiendo 
            maiestatis. Sed inani percipit ex, eam vivendum gloriatur ne, te elitr electram vix. Duo nostrud postulant te.
            <br />
            Et pri appetere sapientem definitionem, debet honestatis an per, eam ea probo legendos vituperata. Mei ipsum 
            dicat scribentur te, ne propriae argumentum quo. Sonet molestiae duo ei, est ea utamur vituperatoribus. Ut 
            moderatius vituperata nec.
    </p>
    <a type="button" class="btn btn-success" href="#!/data">Go to Data</a>    
    <hr />
    <random-data data="list" title="'Random Data'">
    </random-data>
</div>
